@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(250, 250, 245);
    box-sizing: border-box;
} */


body{
    font-family: 'Montserrat', sans-serif;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    scroll-behavior: smooth;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
.navigation{
    width: 100%;
    height: 6.5rem;
}
#navbar{
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 1;
}

#lib-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: auto;
} 
/* sidebar */
.side-menu{
   /* border-right: 1px solid black; */
    min-width: 10rem;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.lib-sidebar{
    z-index: 9;
    padding: 1em;
    position: fixed;
    min-width: 5rem;
}
.lib-sidebar > ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.lib-sidebar > ul > li{
    margin: 3px;
    cursor: pointer;
}
a{
    text-decoration: none;
    padding-bottom: 10px;
}
/* main-bar */
.lib-main-bar{  
    padding: 2em;
    border-left: 1px solid black;
    width: 60%;
    grid-template-columns: 100%;
}
.lib-main-bar > h1{
    margin-bottom: 1em;
    font-variant: small-caps;
}
pre{
    display: flex;
    justify-content: center;
    background-color: rgba(182, 182, 182, 0.342);
    color: rgba(255, 0, 0, 0.562);
    overflow: auto;
    padding: 1em;
    /* align-items: center; */
    width: 100%;
    height: auto;
    /* font-size: small; */
}





